body {
	background-color: #777;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}

div {
	border: 15px solid #000;
}
#tableRow {
	overflow: auto;
}
#container {
	background-color: #ebebeb;
	padding: 15px;
	margin: 0px 10px 10px 10px;
}
#nav {
	background-color: #ebebeb;
	padding: 15px;
	margin: 0px 10px 10px 10px;
}
#section {
	background-color: #ebebeb;
	width: 480px;
	padding: 85px;
	vertical-align: top;
	float: left;
}
div {
	clear: right;
}

#aside {
	background-color: #ebebeb;
	width: 400px;
	padding: 150px;
	float: right;
}


#footer {
	background-color: #ebebeb;
	padding: 15px;
	margin: 10px 10px 10px 10px;
}